# Банки ру

## Парсинг сайта

Выберем 3 тематики отзывов физических лиц:

– Кредитная карта;

– Ипотека;

– Вклад

In [1]:
#неизменные части адресной строки
s1 = 'https://www.banki.ru/services/responses/bank/rshb/product/'
s2 = '/?page='
s3 = '&isMobile=0'

# Пример первой страницы отзывово для кредитной карты
# https://www.banki.ru/services/responses/bank/rshb/product/creditcards/?page=1&isMobile=0
# Пример первой страницы отзывово для ипотеки
#https://www.banki.ru/services/responses/bank/rshb/product/hypothec/?isMobile=0
#Пример первой страницы отзывово для депозита
# https://www.banki.ru/services/responses/bank/rshb/product/deposits/?isMobile=0

In [2]:
products = ['creditcards', 'hypothec', 'deposits']

In [3]:
# функция построения адреса строки
def URL_name(s1, s2, s3, product, page):
    return s1+product+s2+str(page)+s3

In [4]:
URL = URL_name(s1, s2, s3, products[0], 1)
URL

'https://www.banki.ru/services/responses/bank/rshb/product/creditcards/?page=1&isMobile=0'

Проверка парсинга

In [5]:
import requests
from bs4 import BeautifulSoup

URL = URL_name(s1, s2, s3, products[0], 1)
response = requests.get(URL) # get-запрос
soup = BeautifulSoup(response.content)
print(soup.prettify()[0:300])

<!DOCTYPE html>
<html class="env-no-js env-desktop" data-ui-version="2013" prefix="ya: http://webmaster.yandex.ru/vocabularies/
og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
 <head>
  <link hr

In [6]:
URL

'https://www.banki.ru/services/responses/bank/rshb/product/creditcards/?page=1&isMobile=0'

In [7]:
# Функция scraping отзывов

import re

def scraping(soup, attr_filter):
    div = soup.find_all('div', attr_filter)
    list_of_inner_text = [x.text for x in div]
    
    for i in range(len(list_of_inner_text)):
        list_of_inner_text[i] = re.sub(r"['\n']", "", list_of_inner_text[i])
        list_of_inner_text[i] = re.sub(r"['\t']", "", list_of_inner_text[i])
        list_of_inner_text[i] = re.sub(r"['\xa0']", "", list_of_inner_text[i])
        
    return list_of_inner_text

Проверка scraping

In [8]:
attr_filter = {'class': 'responses__item__message markup-inside-small markup-inside-small--bullet'}

list_1 = scraping(soup, attr_filter)
list_1[0:3]

['В который раз пришлось обратиться за консультацией в контактный центр банка Россельхозбанк, ввиду того, что личный кабинет заемщика не отображает полной информации о начисленных процентах и запланированной даты списания. И снова полное фиаско. Абсолютно безграмотный и не клиентоориентированный подход. Не могут грамотно ответить ни на один вопрос, всё отлучаются на 2 минуты, наверное шпаргалки читать-что ответить клиенту на заданный вопрос. На мой вопрос почему банк не предоставляет сведений о размере и дате списания начисленных % по кредитной карте, специалист контактного центра меня уверял, что мне нужно найти в ЛК вкладку "график платежей".... О чем говорить дальше... Был случай по этой же кредитной карте, когда я вернула всю сумму лимита в установленный банком и условиями договора льготный период, и даже на карте были собственные средства сверх лимита, всё равно, спустя 10-11 дней, банк мне выставил задолженность по карте и списал %. Обращалась в центральный офис банка в городе Орле к специалисту по кредитным картам, девушка ничего внятно объяснить не смогла, сказала. что будет писать запрос в Москву и со мной свяжется. НЕ связалась от слова совсем. Я самостоятельно писала обращения на сайте банка о некорректно работающем личном кабинете, даже с сайта банка мое обращение было ПРОИГНОРИРОВАНО. Я крайне не советую данную кредитную организацию.',
 'Обратилась в банк с целью получения кредита(самые низкие ставки),получить сразу его не смогла, т.к оказалось что на счету был арест, который был ошибочно наложен приставами, на следующий же день его разблокировали,я смогла получить кредит и мне установили удобное приложение,разьяснили все понятно и грамотно!Хочу выразить благодарность за компетентность, четкость в работе Сангаджиеву Викторию Ю.(офис банка на ул. Ю. Клыкова 87 окно № 17 ), при любом обращении всегда получаю быструю и квалифицированную помощь! Спасибо огромное вам Виктория!я ваш постоянный клиент! Спасибо!',
 'Работники дополнительного офиса Россельхозбанка в г. Чегем очень вежливые и обслуживают клиентов оперативно и профессионально. Обращаюсь в офис регулярно с периодичностью 1 раз в месяц и всегда ухожу оттуда довольная обслуживанием специалистов. Также хочется отметить, что в помещении офиса всегда чисто и опрятно.']

Непосредстевенный scraping

In [9]:
pages = 30 # число страниц для парсинга для каждого продукта
list_of_text_creditcards = [] # список отзывов по кредитным картам, класс 0 целевой
list_of_text_hypothec = [] # список отзывов по ипотеке, класс 1 целевой
list_of_text_deposits = [] # список отзывов по вкладам, класс 2 целевой

In [10]:
import time as time

attr_filter = {'class': 'responses__item__message markup-inside-small markup-inside-small--bullet'}

# creditcards
for j in range(1, pages+1):
    print('page = ', j )
    URL = URL_name(s1, s2, s3, products[0], j)
    response = requests.get(URL) # get-запрос
    time.sleep(5) # Задержка по времени, чтобы сервер не ругался
    soup = BeautifulSoup(response.content)
    list_1 = scraping(soup, attr_filter)
    for i in range(len(list_1)):
        list_of_text_creditcards.append(list_1[i])

page =  1
page =  2
page =  3
page =  4
page =  5
page =  6
page =  7
page =  8
page =  9
page =  10
page =  11
page =  12
page =  13
page =  14
page =  15
page =  16
page =  17
page =  18
page =  19
page =  20
page =  21
page =  22
page =  23
page =  24
page =  25
page =  26
page =  27
page =  28
page =  29
page =  30

In [11]:
# hypothec
for j in range(1, pages+1):
    print('page = ', j )
    URL = URL_name(s1, s2, s3, products[1], j)
    response = requests.get(URL) # get-запрос
    time.sleep(5) # Задержка по времени, чтобы сервер не ругался
    soup = BeautifulSoup(response.content)
    list_1 = scraping(soup, attr_filter)
    for i in range(len(list_1)):
        list_of_text_hypothec.append(list_1[i])

page =  1
page =  2
page =  3
page =  4
page =  5
page =  6
page =  7
page =  8
page =  9
page =  10
page =  11
page =  12
page =  13
page =  14
page =  15
page =  16
page =  17
page =  18
page =  19
page =  20
page =  21
page =  22
page =  23
page =  24
page =  25
page =  26
page =  27
page =  28
page =  29
page =  30

In [12]:
# deposits
for j in range(1, pages+1):
    print('page = ', j )
    URL = URL_name(s1, s2, s3, products[2], j)
    response = requests.get(URL) # get-запрос
    time.sleep(5) # Задержка по времени, чтобы сервер не ругался
    soup = BeautifulSoup(response.content)
    list_1 = scraping(soup, attr_filter)
    for i in range(len(list_1)):
        list_of_text_deposits.append(list_1[i])

page =  1
page =  2
page =  3
page =  4
page =  5
page =  6
page =  7
page =  8
page =  9
page =  10
page =  11
page =  12
page =  13
page =  14
page =  15
page =  16
page =  17
page =  18
page =  19
page =  20
page =  21
page =  22
page =  23
page =  24
page =  25
page =  26
page =  27
page =  28
page =  29
page =  30

In [13]:
# проверка колличества отзывов
print(len(list_of_text_creditcards))
print(len(list_of_text_hypothec))
print(len(list_of_text_deposits))

750
750
750

In [14]:
# проверка отзывов
# 100ый отзыв по кредитным картам
list_of_text_creditcards[99]

'Выплатили только 1% кэшбэк в повышенной категории "Телекоммуникации" по "Карте хозяина" за май. При этом тарифы меняются только с 1.07.20. значит, как минимум должны были начислить по старым тарифам ещё 2 раза, за май и за июнь! Очень надеюсь, что это была просто техническая ошибка, связанная с переходом и все поправят.'

In [15]:
# 225ый отзыв по ипотеке
list_of_text_hypothec[224]

'Подали в банк заявку на сельхозипотеку. Попали на начало режима ограничений - апрель. Вопреки всем отзывам заявку одобрили быстро, примерно через неделю решение было на руках. Объект уже был выбран. На этом все хорошее закончилось.Заявку подавали на строящееся жилье. Однако менеджер банка заверил, что одобрение пришло уже на готовое и нужно переделать документы. В итоге нам вместе с застройщиком в короткие сроки пришлось достраивать дом и проводить необходимые коммуникации, чтобы зарегистрировать объект. Кроме того, банк потребовал переделать брачный договор, где указать, что объект приобретается именно с привлечением средств Россельхозбанка (позже другой менеджер заверил, что банк не вправе предъявлять такое требование, и это ошибка).Через месяц, когда все документы были готовы, закончились лимиты. Тут понятно, не в банке дело, ждем. Лимиты пришли, банк проверяет документы на объект. Все хорошо... НО закончилось одобрение. Об этом мне сообщили постфактум звонком из местного отделения почти в 10 вечера и затребовали свежие справки. Мы предоставили.После полутора недель ожидания и десятков звонков, когда никто не брал трубку, по личному номеру менеджера мне сообщили, что отказ пришел неделю назад. Не было ни сообщений из банка, ни звонков из Москвы.За все эти месяцы в местном отделении трубку не взяли ни разу. На горячей линии отвечают, что заявка не отображается.С таким стилем работы сталкиваюсь впервые!'

In [29]:
# 2ой отзыв по вкладам
list_of_text_deposits[2]

'Являюсь постоянным клиентомуже на протяжение многих летдополнительного офиса "Россельхозбанк" №3349/5/20. За все время никаких проблем -удобное приложение, приветливые  внимательныесотрудники, какие бывают вопросы, без проблем можно решить по телефону или при посещения дополнительного офиса.'

## Создание базы данных

Сохраним имеюшиеся отзывы для дальнейшего использования, минуя парсинг

In [17]:
import pandas as pd

In [18]:
df1 = pd.DataFrame()
df1['review'] = list_of_text_creditcards
df1['target'] = 0

In [19]:
 df1.head(3)

                                              review  target
0  В который раз пришлось обратиться за консульта...       0
1  Обратилась в банк с целью получения кредита(са...       0
2  Работники дополнительного офиса Россельхозбанк...       0

In [20]:
df2 = pd.DataFrame()
df2['review'] = list_of_text_hypothec
df2['target'] = 1

In [21]:
 df2.head(3)

                                              review  target
0  Добрый вечер! Я клиент с хорошей кредитной ист...       1
1  Ты приезжаешь в отделение , которое работает д...       1
2  Давно хотел написать слова благодарности всем ...       1

In [22]:
df3 = pd.DataFrame()
df3['review'] = list_of_text_deposits
df3['target'] = 2

In [23]:
 df3.head(3)

                                              review  target
0  1 октября были попытки осуществить перевод ден...       2
1  Ответ от банка в личном сообщении Мобильного П...       2
2  Являюсь постоянным клиентомуже на протяжение м...       2

In [24]:
df1 = df1.append(df2)
df1 = df1.append(df3)

In [25]:
df1

                                                review  target
0    В который раз пришлось обратиться за консульта...       0
1    Обратилась в банк с целью получения кредита(са...       0
2    Работники дополнительного офиса Россельхозбанк...       0
3    Около недели назад консультировался по кредитн...       0
4    27.07.2020 обратился в отделение РСХБ в г. Мыт...       0
..                                                 ...     ...
745  Размещаю денежные средства в офисе банка в г. ...       2
746  Открываю Вклады на сайте Россельхозбанка, пото...       2
747  Стала клиентом банка, открыв там вклад. Надо с...       2
748  Приятно удивлена временем ожидания, минимум оч...       2
749  Открыла пенсионный вклад, предложили бесплатну...       2

[2250 rows x 2 columns]

Сохраним в виде базы данных SQLite

In [26]:
import sqlite3
conn = sqlite3.connect('review.db')
c = conn.cursor()
df1.to_sql('Review', conn, if_exists='replace', index = False)

In [27]:
from sklearn.utils import shuffle
df1 = shuffle(df1)

In [28]:
df1

                                                review  target
614  Добрый день!Первый раз с таким сталкиваюсь, бы...       0
391  Обратились в отделение Россельхозбанка в город...       1
681  Обратились в отделение в феврале месяце, когда...       1
359  Здравствуйте, вот читаем отзывы о данном проду...       1
212  Хочу оставить свой отзыв о работе отделения "Р...       0
..                                                 ...     ...
502  В феврале в результате некорректной работы тех...       0
467  Очень хочется поблагодарить сотрудников Россел...       1
327  Хочу написать слова благодарностисотрудникам о...       1
531  Мной была досрочно погашена ипотека - еще 1 го...       1
456  В 2017 году ,в каком месяце- не могу вспомнить...       0

[2250 rows x 2 columns]