# 1. Эксперимент #

Цель работы - освоение алгоритмов классификации на наборе данных, полученных методом Монте Карло. Набор данных представляет собой 3 класса. Каждый класс имеет два признака - время замедления нейтрона и число столкновений.

## Блок нейтронной физики ##

In [1]:
import pandas as pd
import random as rd
import math as math
import scipy.constants as const # Модуль физико-математических констант

# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

N_A = const.Avogadro

### Функция жизни нейтрона: ###

In [2]:
# Для одинаковой генерации данных
rd.seed(42)

def life_of_neutron(Ein, Eout, dens, A1, A2, Mol_m, Sigma, alpha_1, alpha_2, sigma_1, sigma_2, x1, x2):
    
    Energy = Ein
    colision = 0 # Число столкновений
    time = 0 # Время полета
    a = 0 # Угол полета
    b = 0 # Изменение угла полета
    l = 0 # Длина пролета
    V = 0 # Скорость
    elder = 0 #Возраст
    while Energy > Eout: #Пока энергия нейтрона лежит в области > ... ЭВ
        l = -1*math.log(rd.random())/Sigma/100 # В метрах
        V = (2*Energy*1.6*(10**(-19))/(1.6749*10**(-27)))**0.5 # В м/с
        time += l/V
        colision += 1
        
        #Разыгрывание на каком ядре произошло рассеяние
        x = rd.random()
        if x < (x1*sigma_1/(x1*sigma_1 + x2*sigma_2)):# Рассеяние на первом ядре
            E1 = Energy
            E2 = Energy*alpha_1
            Energy = rd.uniform(E1, E2)
            b = math.acos

            
        else:# Рассеяние на втором ядре
            E1 = Energy
            E2 = Energy*alpha_2
            Energy = rd.uniform(E1, E2)

    return colision, time

### Входные данные по материалам: ###

In [3]:
df = pd.DataFrame({'Material': ['Water', 'Heavy Plexiglass', 'Heavy Water'],
                   'Density g/cm^3': [1.0, 1.6, 1.1],
                    'A_1' : [1, 12, 2],
                    'A_2' : [16, 2, 16],
                    'Molar mass g/mol' : [18, 28, 20],
                    'Chemical formula' : ['H2O', 'C2D2', 'D2O'],
                    'sigma_1 b' : [30.0, 4.9, 3.5],
                    'sigma_2 b' : [4.0, 3.5, 4.0],
                    'x1' : [2, 2, 2],
                    'x2' : [1, 2, 1],
                    
              })

df

,Material,Density g/cm^3,A_1,A_2,Molar mass g/mol,Chemical formula,sigma_1 b,sigma_2 b,x1,x2
0,Water,1.0,1,16,18,H2O,30.0,4.0,2,1
1,Heavy Plexiglass,1.6,12,2,28,C2D2,4.9,3.5,2,2
2,Heavy Water,1.1,2,16,20,D2O,3.5,4.0,2,1

### Расчет макросечения: ###

In [4]:
df['\u03A3, 1/cm'] = 0.0
for k in df.index:
    df['Σ, 1/cm'][k] = (df['x1'][k]*df['sigma_1 b'][k]+df['x2'][k]*df['sigma_2 b'][k]
                       )*N_A*df['Density g/cm^3'][k]/df['Molar mass g/mol'][k]/10**(24)
display(df)

,Material,Density g/cm^3,A_1,A_2,Molar mass g/mol,Chemical formula,sigma_1 b,sigma_2 b,x1,x2,"Σ, 1/cm"
0,Water,1.0,1,16,18,H2O,30.0,4.0,2,1,2.141206
1,Heavy Plexiglass,1.6,12,2,28,C2D2,4.9,3.5,2,2,0.578126
2,Heavy Water,1.1,2,16,20,D2O,3.5,4.0,2,1,0.364340

### Расчет ступеньки замедления: ###

In [5]:
df['\u0251_1'] = 0.0
df['\u0251_2'] = 0.0
for k in df.index:
    df['\u0251_1'][k] = ((df['A_1'][k]-1)/(df['A_1'][k]+1))**2
    df['\u0251_2'][k] = ((df['A_2'][k]-1)/(df['A_2'][k]+1))**2
display(df)

,Material,Density g/cm^3,A_1,A_2,Molar mass g/mol,Chemical formula,sigma_1 b,sigma_2 b,x1,x2,"Σ, 1/cm",ɑ_1,ɑ_2
0,Water,1.0,1,16,18,H2O,30.0,4.0,2,1,2.141206,0.000000,0.778547
1,Heavy Plexiglass,1.6,12,2,28,C2D2,4.9,3.5,2,2,0.578126,0.715976,0.111111
2,Heavy Water,1.1,2,16,20,D2O,3.5,4.0,2,1,0.364340,0.111111,0.778547

### Создание DataFrame для записи данных ###

In [6]:
df1 = pd.DataFrame({'time, 10^(-5) c': [],
                   'colisions': [],
                    'Material' : [],
                    'target' : [] 
              })
df1

Empty DataFrame
Columns: [time, 10^(-5) c, colisions, Material, target]
Index: []

### Эксперимент методом Монте-Карло ###

In [7]:
Estart = 1_000_000 #1Мэв
Eend = 1 #1 Эв
Colision = [0, 0, 0, 0]
Time = [0, 0, 0, 0]
number_of_event = 300
counter = 0 # Счетчик для записи в DataFrame
for k in df.index: #Цикл по материалам
    for i in range(0, number_of_event*(k+1)): #Колличество событий для каждого материала
        colision, time = life_of_neutron(Estart, Eend, df['Density g/cm^3'][k],
                                          df['A_1'][k], df['A_2'][k],
                                          df['Molar mass g/mol'][k], df['Σ, 1/cm'][k],
                                          df['ɑ_1'][k], df['ɑ_2'][k],
                                          df['sigma_1 b'][k], df['sigma_2 b'][k],
                                          df['x1'][k], df['x2'][k],)
        df1.loc[counter] = {'Material': df['Material'][k], 'time, 10^(-5) c': time*100_000, 'colisions': colision, 'target': k}
        Colision[k]+=colision
        Time[k]+=time
        counter+=1


for k in df.index:
    Colision[k] = Colision[k]/number_of_event/(k+1)
    Time[k] = Time[k]/number_of_event/(k+1)
    
for k in df.index:
    print(df['Material'][k])
    print(Colision[k])
    print(Time[k])

Water
15.643333333333333
6.787573166715254e-07
Heavy Plexiglass
35.90833333333333
6.2682122914039705e-06
Heavy Water
28.513333333333335
7.811704490837068e-06

# 2. SQL vs Pandas

## 2.1 Create a Table

Посмотрим, что представляют собой полученные данные

In [8]:
df1.head()

   time, 10^(-5) c  colisions Material  target
0         0.060134       18.0    Water     0.0
1         0.015265       11.0    Water     0.0
2         0.058799       17.0    Water     0.0
3         0.047027       14.0    Water     0.0
4         0.018141       10.0    Water     0.0

Еще раз взглянем на входные данные

In [9]:
df.head()

,Material,Density g/cm^3,A_1,A_2,Molar mass g/mol,Chemical formula,sigma_1 b,sigma_2 b,x1,x2,"Σ, 1/cm",ɑ_1,ɑ_2
0,Water,1.0,1,16,18,H2O,30.0,4.0,2,1,2.141206,0.000000,0.778547
1,Heavy Plexiglass,1.6,12,2,28,C2D2,4.9,3.5,2,2,0.578126,0.715976,0.111111
2,Heavy Water,1.1,2,16,20,D2O,3.5,4.0,2,1,0.364340,0.111111,0.778547

Создадим базу данных из этих двух data frames

In [10]:
import sqlite3

In [11]:
conn = sqlite3.connect('data/neutron_moderation.db')
c = conn.cursor()

In [12]:
df.to_sql('Input_data', conn, if_exists='replace', index = False)

In [13]:
df1.to_sql('Output_data', conn, if_exists='replace', index = False)

Создадим пустую таблицу для тренировки не из DF и затем её удалим

In [14]:
c.execute('CREATE TABLE CARS (Brand text, Price number)')
conn.commit()

In [15]:
c.execute('DROP TABLE IF EXISTS CARS')
conn.commit()

Создадим df из полученной базы данных

In [16]:
df1 = pd.read_sql("SELECT * from Output_data", conn)
df1.head()

   time, 10^(-5) c  colisions Material  target
0         0.060134       18.0    Water     0.0
1         0.015265       11.0    Water     0.0
2         0.058799       17.0    Water     0.0
3         0.047027       14.0    Water     0.0
4         0.018141       10.0    Water     0.0

In [17]:
df = pd.read_sql("SELECT * from Input_data", conn)
df.head()

,Material,Density g/cm^3,A_1,A_2,Molar mass g/mol,Chemical formula,sigma_1 b,sigma_2 b,x1,x2,"Σ, 1/cm",ɑ_1,ɑ_2
0,Water,1.0,1,16,18,H2O,30.0,4.0,2,1,2.141206,0.000000,0.778547
1,Heavy Plexiglass,1.6,12,2,28,C2D2,4.9,3.5,2,2,0.578126,0.715976,0.111111
2,Heavy Water,1.1,2,16,20,D2O,3.5,4.0,2,1,0.364340,0.111111,0.778547

## 2.2 INSERT Operation

Добавление через pandas

In [18]:
data = [{"Material": 'Carbon', "Chemical formula": 'C'}]
data

[{'Material': 'Carbon', 'Chemical formula': 'C'}]

In [19]:
data = pd.DataFrame(data)
data

  Material Chemical formula
0   Carbon                C

In [20]:
df = pd.concat([df, data], ignore_index=True)

In [21]:
df

,A_1,A_2,Chemical formula,Density g/cm^3,Material,Molar mass g/mol,sigma_1 b,sigma_2 b,x1,x2,ɑ_1,ɑ_2,"Σ, 1/cm"
0,1.0,16.0,H2O,1.0,Water,18.0,30.0,4.0,2.0,1.0,0.000000,0.778547,2.141206
1,12.0,2.0,C2D2,1.6,Heavy Plexiglass,28.0,4.9,3.5,2.0,2.0,0.715976,0.111111,0.578126
2,2.0,16.0,D2O,1.1,Heavy Water,20.0,3.5,4.0,2.0,1.0,0.111111,0.778547,0.364340
3,NaN,NaN,C,NaN,Carbon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2.3 DELETE Operatioin

Удаление через pandas

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 13 columns):
A_1                 3 non-null float64
A_2                 3 non-null float64
Chemical formula    4 non-null object
Density g/cm^3      3 non-null float64
Material            4 non-null object
Molar mass g/mol    3 non-null float64
sigma_1 b           3 non-null float64
sigma_2 b           3 non-null float64
x1                  3 non-null float64
x2                  3 non-null float64
ɑ_1                 3 non-null float64
ɑ_2                 3 non-null float64
Σ, 1/cm             3 non-null float64
dtypes: float64(11), object(2)
memory usage: 544.0+ bytes

In [23]:
df.isnull().sum()

A_1                 1
A_2                 1
Chemical formula    0
Density g/cm^3      1
Material            0
Molar mass g/mol    1
sigma_1 b           1
sigma_2 b           1
x1                  1
x2                  1
ɑ_1                 1
ɑ_2                 1
Σ, 1/cm             1
dtype: int64

In [24]:
df = df.dropna()
df

,A_1,A_2,Chemical formula,Density g/cm^3,Material,Molar mass g/mol,sigma_1 b,sigma_2 b,x1,x2,ɑ_1,ɑ_2,"Σ, 1/cm"
0,1.0,16.0,H2O,1.0,Water,18.0,30.0,4.0,2.0,1.0,0.000000,0.778547,2.141206
1,12.0,2.0,C2D2,1.6,Heavy Plexiglass,28.0,4.9,3.5,2.0,2.0,0.715976,0.111111,0.578126
2,2.0,16.0,D2O,1.1,Heavy Water,20.0,3.5,4.0,2.0,1.0,0.111111,0.778547,0.364340

Добавление данных через SQL

In [25]:
conn = sqlite3.connect('data/neutron_moderation.db')
c = conn.cursor()

In [26]:
def sql_insert(conn, entities):

    cursorObj = conn.cursor()

    cursorObj.execute('INSERT INTO Input_data (Material, x1) VALUES(?, ?)', entities)

    conn.commit()

In [27]:
entities = ('Carbon', 1)
sql_insert(conn, entities)

Удаление данных через SQL, где конкретный столбец равен нулю

In [28]:
c.execute('DELETE FROM Input_data WHERE (x2 IS NULL)')
conn.commit()

## 2.4 SELECT Operation, WHERE, DISTINCT, LIMIT

Получим список столбцов через Pandas

In [29]:
c = list(df)
c

['A_1',
 'A_2',
 'Chemical formula',
 'Density g/cm^3',
 'Material',
 'Molar mass g/mol',
 'sigma_1 b',
 'sigma_2 b',
 'x1',
 'x2',
 'ɑ_1',
 'ɑ_2',
 'Σ, 1/cm']

Получим список столбцов через SQL

In [30]:
row_names = []

def sql_fetch(conn):

    cursorObj = conn.cursor()

    cursorObj.execute('select * from Input_data')
    
    colnames = cursorObj.description
    for row in colnames:
        row_names.append(row[0])

sql_fetch(conn)

print(row_names)

['Material', 'Density g/cm^3', 'A_1', 'A_2', 'Molar mass g/mol', 'Chemical formula', 'sigma_1 b', 'sigma_2 b', 'x1', 'x2', 'Σ, 1/cm', 'ɑ_1', 'ɑ_2']

Вывод конкретных столбцов через Pandas

In [31]:
names = ["Material", "A_1", "A_2"]
df[names]

           Material   A_1   A_2
0             Water   1.0  16.0
1  Heavy Plexiglass  12.0   2.0
2       Heavy Water   2.0  16.0

Вывод конкретных столбцов через SQL

In [32]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute("SELECT Material, A_1, A_2 from Input_data")
for row in cursor:
    print("Material = ", row[0])
    print("A_1 = ", row[1])
    print("A_2 = ", row[2], "\n")

conn.close()

Material =  Water
A_1 =  1
A_2 =  16

Material =  Heavy Plexiglass
A_1 =  12
A_2 =  2

Material =  Heavy Water
A_1 =  2
A_2 =  16

Вывод ограниченного числа строк через Pandas

In [33]:
df1.head(3)

   time, 10^(-5) c  colisions Material  target
0         0.060134       18.0    Water     0.0
1         0.015265       11.0    Water     0.0
2         0.058799       17.0    Water     0.0

Вывод ограниченного числа строк через SQL

In [34]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute("SELECT * FROM Input_data limit 2")

for row in cursor:
    print(row)
    print()

conn.close()

('Water', 1.0, 1, 16, 18, 'H2O', 30.0, 4.0, 2, 1, 2.1412056380444446, 0.0, 0.7785467128027681)

('Heavy Plexiglass', 1.6, 12, 2, 28, 'C2D2', 4.9, 3.5, 2, 2, 0.5781255222720001, 0.7159763313609467, 0.1111111111111111)

Select c сножественными условиями Pandas

In [35]:
df[(df.Material != 'Water') & (df.A_1 == 2)]

,A_1,A_2,Chemical formula,Density g/cm^3,Material,Molar mass g/mol,sigma_1 b,sigma_2 b,x1,x2,ɑ_1,ɑ_2,"Σ, 1/cm"
2,2.0,16.0,D2O,1.1,Heavy Water,20.0,3.5,4.0,2.0,1.0,0.111111,0.778547,0.36434

Select с множественными условиями SQL

In [36]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute("SELECT * FROM Input_data where Material = 'Heavy Water' and  A_1 = 2.0")

for row in cursor:
    print(row)
    print()

conn.close()

('Heavy Water', 1.1, 2, 16, 20, 'D2O', 3.5, 4.0, 2, 1, 0.36433952184850005, 0.1111111111111111, 0.7785467128027681)

Вывод уникальных значений Pandas

In [37]:
df1['Material'].value_counts(normalize=True)

Heavy Water         0.500000
Heavy Plexiglass    0.333333
Water               0.166667
Name: Material, dtype: float64

Вывод уникальных значений SQL

In [38]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute("SELECT DISTINCT Material FROM Output_data")

for row in cursor:
    print(row)
    print()

conn.close()

('Water',)

('Heavy Plexiglass',)

('Heavy Water',)

## 2.5 UPDATE Operation

Изменение данных через Pandas

In [39]:
df

,A_1,A_2,Chemical formula,Density g/cm^3,Material,Molar mass g/mol,sigma_1 b,sigma_2 b,x1,x2,ɑ_1,ɑ_2,"Σ, 1/cm"
0,1.0,16.0,H2O,1.0,Water,18.0,30.0,4.0,2.0,1.0,0.000000,0.778547,2.141206
1,12.0,2.0,C2D2,1.6,Heavy Plexiglass,28.0,4.9,3.5,2.0,2.0,0.715976,0.111111,0.578126
2,2.0,16.0,D2O,1.1,Heavy Water,20.0,3.5,4.0,2.0,1.0,0.111111,0.778547,0.364340

In [40]:
df.loc[df['Chemical formula'] == 'C2D2', 'Material'] = 'Unknow'
df

,A_1,A_2,Chemical formula,Density g/cm^3,Material,Molar mass g/mol,sigma_1 b,sigma_2 b,x1,x2,ɑ_1,ɑ_2,"Σ, 1/cm"
0,1.0,16.0,H2O,1.0,Water,18.0,30.0,4.0,2.0,1.0,0.000000,0.778547,2.141206
1,12.0,2.0,C2D2,1.6,Unknow,28.0,4.9,3.5,2.0,2.0,0.715976,0.111111,0.578126
2,2.0,16.0,D2O,1.1,Heavy Water,20.0,3.5,4.0,2.0,1.0,0.111111,0.778547,0.364340

In [41]:
df.loc[df['Chemical formula'] == 'C2D2', 'Material'] = 'Heavy Plexiglass'
df

,A_1,A_2,Chemical formula,Density g/cm^3,Material,Molar mass g/mol,sigma_1 b,sigma_2 b,x1,x2,ɑ_1,ɑ_2,"Σ, 1/cm"
0,1.0,16.0,H2O,1.0,Water,18.0,30.0,4.0,2.0,1.0,0.000000,0.778547,2.141206
1,12.0,2.0,C2D2,1.6,Heavy Plexiglass,28.0,4.9,3.5,2.0,2.0,0.715976,0.111111,0.578126
2,2.0,16.0,D2O,1.1,Heavy Water,20.0,3.5,4.0,2.0,1.0,0.111111,0.778547,0.364340

Изменение данных через SQL

In [42]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute("UPDATE Input_data set Material = 'Unknow' where Material = 'Water'")
conn.commit()

for row in cursor.execute('SELECT * FROM Input_data'):
    print(row)
    print()

conn.close()

('Unknow', 1.0, 1, 16, 18, 'H2O', 30.0, 4.0, 2, 1, 2.1412056380444446, 0.0, 0.7785467128027681)

('Heavy Plexiglass', 1.6, 12, 2, 28, 'C2D2', 4.9, 3.5, 2, 2, 0.5781255222720001, 0.7159763313609467, 0.1111111111111111)

('Heavy Water', 1.1, 2, 16, 20, 'D2O', 3.5, 4.0, 2, 1, 0.36433952184850005, 0.1111111111111111, 0.7785467128027681)

In [43]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute("UPDATE Input_data set Material = 'Water' where Material = 'Unknow'")
conn.commit()

for row in cursor.execute('SELECT * FROM Input_data'):
    print(row)
    print()

conn.close()

('Water', 1.0, 1, 16, 18, 'H2O', 30.0, 4.0, 2, 1, 2.1412056380444446, 0.0, 0.7785467128027681)

('Heavy Plexiglass', 1.6, 12, 2, 28, 'C2D2', 4.9, 3.5, 2, 2, 0.5781255222720001, 0.7159763313609467, 0.1111111111111111)

('Heavy Water', 1.1, 2, 16, 20, 'D2O', 3.5, 4.0, 2, 1, 0.36433952184850005, 0.1111111111111111, 0.7785467128027681)

## 2.6 ORDER BY

Сортировка в Pandas по возрастанию с условием

In [44]:
df1[df1.Material == 'Water'].sort_values('colisions')

     time, 10^(-5) c  colisions Material  target
129         0.039810        6.0    Water     0.0
280         0.013819        6.0    Water     0.0
61          0.017364        7.0    Water     0.0
44          0.017380        7.0    Water     0.0
38          0.008106        7.0    Water     0.0
..               ...        ...      ...     ...
90          0.248149       26.0    Water     0.0
60          0.041406       26.0    Water     0.0
130         0.113050       26.0    Water     0.0
71          0.135314       27.0    Water     0.0
202         0.096467       27.0    Water     0.0

[300 rows x 4 columns]

Сортировка в Pandas по убыванию с условием

In [45]:
df1[df1.Material == 'Water'].sort_values('colisions', ascending = False)

     time, 10^(-5) c  colisions Material  target
71          0.135314       27.0    Water     0.0
202         0.096467       27.0    Water     0.0
90          0.248149       26.0    Water     0.0
23          0.157339       26.0    Water     0.0
60          0.041406       26.0    Water     0.0
..               ...        ...      ...     ...
61          0.017364        7.0    Water     0.0
178         0.019329        7.0    Water     0.0
38          0.008106        7.0    Water     0.0
280         0.013819        6.0    Water     0.0
129         0.039810        6.0    Water     0.0

[300 rows x 4 columns]

Сортировка SQL по возрастанию с условием

In [46]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute(
    "SELECT * FROM Output_data where Material = 'Water' order by colisions limit 10")

for row in cursor:
    print(row)
    print()

conn.close()

(0.0398100420654214, 6.0, 'Water', 0.0)

(0.013818766417037338, 6.0, 'Water', 0.0)

(0.00810579402678893, 7.0, 'Water', 0.0)

(0.017379645485190075, 7.0, 'Water', 0.0)

(0.017364007132239002, 7.0, 'Water', 0.0)

(0.019328610671752178, 7.0, 'Water', 0.0)

(0.02317945877157352, 8.0, 'Water', 0.0)

(0.076826163402138, 8.0, 'Water', 0.0)

(0.06314993313348637, 8.0, 'Water', 0.0)

(0.037781692495087116, 8.0, 'Water', 0.0)

In [47]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute(
    "SELECT * FROM Output_data where Material = 'Water' order by colisions desc limit 5")

for row in cursor:
    print(row)
    print()

conn.close()

(0.13531443246003128, 27.0, 'Water', 0.0)

(0.09646672229640897, 27.0, 'Water', 0.0)

(0.15733943012752388, 26.0, 'Water', 0.0)

(0.041405977385189696, 26.0, 'Water', 0.0)

(0.24814923446253273, 26.0, 'Water', 0.0)

## 2.7 IN и NOT IN

In [48]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute(
    "SELECT * FROM Output_data where Material in ('Water')")

i = 0
for row in cursor:
    if i % 60 == 0:
        print(row)
        print()
    i+=1
    
conn.close()

(0.06013426206526942, 18.0, 'Water', 0.0)

(0.041405977385189696, 26.0, 'Water', 0.0)

(0.05349438840235564, 16.0, 'Water', 0.0)

(0.10108422250980054, 19.0, 'Water', 0.0)

(0.034018857377174014, 18.0, 'Water', 0.0)

In [49]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute(
    "SELECT * FROM Output_data where Material not in ('Water')")

i = 0
for row in cursor:
    if i % 200 == 0:
        print(row)
        print()
    i+=1
    
conn.close()

(0.2863104124663966, 28.0, 'Heavy Plexiglass', 1.0)

(0.2639612950968262, 46.0, 'Heavy Plexiglass', 1.0)

(0.6742370658658996, 37.0, 'Heavy Plexiglass', 1.0)

(0.9129252778988183, 25.0, 'Heavy Water', 2.0)

(1.344853691238288, 36.0, 'Heavy Water', 2.0)

(0.7723659097049473, 33.0, 'Heavy Water', 2.0)

(0.7696221698532869, 36.0, 'Heavy Water', 2.0)

(0.568639896734739, 34.0, 'Heavy Water', 2.0)

In [50]:
df1[df1.Material.isin(['Water'])]

     time, 10^(-5) c  colisions Material  target
0           0.060134       18.0    Water     0.0
1           0.015265       11.0    Water     0.0
2           0.058799       17.0    Water     0.0
3           0.047027       14.0    Water     0.0
4           0.018141       10.0    Water     0.0
..               ...        ...      ...     ...
295         0.042797       11.0    Water     0.0
296         0.080399       19.0    Water     0.0
297         0.162084       17.0    Water     0.0
298         0.064406       14.0    Water     0.0
299         0.029259       17.0    Water     0.0

[300 rows x 4 columns]

In [51]:
df1[~df1.Material.isin(['Water'])]

      time, 10^(-5) c  colisions          Material  target
300          0.286310       28.0  Heavy Plexiglass     1.0
301          1.206060       47.0  Heavy Plexiglass     1.0
302          0.802068       28.0  Heavy Plexiglass     1.0
303          0.210631       27.0  Heavy Plexiglass     1.0
304          0.876342       37.0  Heavy Plexiglass     1.0
...               ...        ...               ...     ...
1795         1.073471       37.0       Heavy Water     2.0
1796         0.457777       28.0       Heavy Water     2.0
1797         1.017680       35.0       Heavy Water     2.0
1798         0.532127       29.0       Heavy Water     2.0
1799         0.393834       27.0       Heavy Water     2.0

[1500 rows x 4 columns]

## 2.8 GROUP BY, COUNT, ORDER BY

In [52]:
df1

      time, 10^(-5) c  colisions     Material  target
0            0.060134       18.0        Water     0.0
1            0.015265       11.0        Water     0.0
2            0.058799       17.0        Water     0.0
3            0.047027       14.0        Water     0.0
4            0.018141       10.0        Water     0.0
...               ...        ...          ...     ...
1795         1.073471       37.0  Heavy Water     2.0
1796         0.457777       28.0  Heavy Water     2.0
1797         1.017680       35.0  Heavy Water     2.0
1798         0.532127       29.0  Heavy Water     2.0
1799         0.393834       27.0  Heavy Water     2.0

[1800 rows x 4 columns]

In [53]:
df1.groupby(['colisions']).size().head(14)

colisions
6.0      2
7.0      4
8.0      5
9.0      6
10.0    14
11.0    15
12.0    17
13.0    22
14.0    28
15.0    37
16.0    36
17.0    43
18.0    22
19.0    41
dtype: int64

In [54]:
df1.groupby(['colisions', 'Material']).size().head(14)

colisions  Material
6.0        Water                2
7.0        Water                4
8.0        Water                5
9.0        Water                6
10.0       Water               14
11.0       Water               15
12.0       Water               17
13.0       Water               22
14.0       Water               28
15.0       Heavy Water          5
           Water               32
16.0       Heavy Plexiglass     1
           Heavy Water          2
           Water               33
dtype: int64

In [55]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute(
    "select colisions, material, count(*) from Output_data group by colisions, material order by colisions, material")

i = 0
for row in cursor:
    if i <= 13:
        print(row)
        print()
    i+=1
    
conn.close()

(6.0, 'Water', 2)

(7.0, 'Water', 4)

(8.0, 'Water', 5)

(9.0, 'Water', 6)

(10.0, 'Water', 14)

(11.0, 'Water', 15)

(12.0, 'Water', 17)

(13.0, 'Water', 22)

(14.0, 'Water', 28)

(15.0, 'Heavy Water', 5)

(15.0, 'Water', 32)

(16.0, 'Heavy Plexiglass', 1)

(16.0, 'Heavy Water', 2)

(16.0, 'Water', 33)

In [56]:
df1.groupby(['colisions', 'Material']).size().to_frame('size').reset_index().sort_values(['colisions', 'Material'], ascending=[False, False]).head(3)

    colisions          Material  size
95       59.0  Heavy Plexiglass     1
94       58.0  Heavy Plexiglass     1
93       57.0  Heavy Plexiglass     1

In [57]:
df1.groupby(['colisions', 'Material']).size().to_frame('size').reset_index().sort_values(['colisions', 'Material'], ascending=[True, False]).head(14)

    colisions          Material  size
0         6.0             Water     2
1         7.0             Water     4
2         8.0             Water     5
3         9.0             Water     6
4        10.0             Water    14
5        11.0             Water    15
6        12.0             Water    17
7        13.0             Water    22
8        14.0             Water    28
10       15.0             Water    32
9        15.0       Heavy Water     5
13       16.0             Water    33
12       16.0       Heavy Water     2
11       16.0  Heavy Plexiglass     1

In [58]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute(
    "select colisions, material, count(*) from Output_data group by colisions, material order by colisions, count(*) desc")

i = 0
for row in cursor:
    if i <= 13:
        print(row)
        print()
    i+=1
    
conn.close()

(6.0, 'Water', 2)

(7.0, 'Water', 4)

(8.0, 'Water', 5)

(9.0, 'Water', 6)

(10.0, 'Water', 14)

(11.0, 'Water', 15)

(12.0, 'Water', 17)

(13.0, 'Water', 22)

(14.0, 'Water', 28)

(15.0, 'Water', 32)

(15.0, 'Heavy Water', 5)

(16.0, 'Water', 33)

(16.0, 'Heavy Water', 2)

(16.0, 'Heavy Plexiglass', 1)

## 2.9 HAVING

In [59]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute(
    "select colisions, count(*) from Output_data where Material = 'Water' group by colisions having count(*) > 9 order by count(*) desc")

i = 0
for row in cursor:
    if i <= 13:
        print(row)
        print()
    i+=1
    
conn.close()

(17.0, 36)

(16.0, 33)

(15.0, 32)

(14.0, 28)

(19.0, 25)

(13.0, 22)

(20.0, 17)

(12.0, 17)

(11.0, 15)

(18.0, 14)

(10.0, 14)

(21.0, 11)

In [60]:
df1[df1.Material == 'Water'].groupby('colisions').filter(lambda g: len(g) > 9).groupby('colisions').size().sort_values(ascending=False)

colisions
17.0    36
16.0    33
15.0    32
14.0    28
19.0    25
13.0    22
20.0    17
12.0    17
11.0    15
18.0    14
10.0    14
21.0    11
dtype: int64

## 2.9 Первые N записей

In [61]:
df1.nlargest(10, columns='colisions')

     time, 10^(-5) c  colisions          Material  target
791         0.729316       59.0  Heavy Plexiglass     1.0
680         1.211173       58.0  Heavy Plexiglass     1.0
486         2.111941       57.0  Heavy Plexiglass     1.0
377         1.457662       56.0  Heavy Plexiglass     1.0
390         1.378546       55.0  Heavy Plexiglass     1.0
807         0.532553       55.0  Heavy Plexiglass     1.0
417         0.605150       54.0  Heavy Plexiglass     1.0
483         1.100379       54.0  Heavy Plexiglass     1.0
559         1.119283       54.0  Heavy Plexiglass     1.0
386         0.958775       53.0  Heavy Plexiglass     1.0

In [62]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute("select colisions from Output_data order by colisions desc limit 10")

i = 0
for row in cursor:
    print(row)
    print()
   
conn.close()

(59.0,)

(58.0,)

(57.0,)

(56.0,)

(55.0,)

(55.0,)

(54.0,)

(54.0,)

(54.0,)

(53.0,)

In [63]:
df1.nlargest(20, columns='colisions').tail(10)

     time, 10^(-5) c  colisions          Material  target
457         0.543366       53.0  Heavy Plexiglass     1.0
893         1.034808       53.0  Heavy Plexiglass     1.0
344         0.809267       52.0  Heavy Plexiglass     1.0
535         1.174369       52.0  Heavy Plexiglass     1.0
606         1.310669       51.0  Heavy Plexiglass     1.0
611         1.040243       51.0  Heavy Plexiglass     1.0
617         0.921589       51.0  Heavy Plexiglass     1.0
722         0.691992       51.0  Heavy Plexiglass     1.0
842         1.789559       51.0  Heavy Plexiglass     1.0
882         0.618651       51.0  Heavy Plexiglass     1.0

In [64]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute("select colisions from Output_data order by colisions desc limit 10 offset 10")

i = 0
for row in cursor:
    print(row)
    print()
   
conn.close()

(53.0,)

(53.0,)

(52.0,)

(52.0,)

(51.0,)

(51.0,)

(51.0,)

(51.0,)

(51.0,)

(51.0,)

## 3.0 MIN, MAX, MEAN

In [65]:
df1.agg({'colisions': ['min', 'max', 'mean', 'median']})

        colisions
min      6.000000
max     59.000000
mean    28.833333
median  29.000000

In [66]:
conn = sqlite3.connect('data/neutron_moderation.db')

cursor = conn.execute("select max(colisions), min(colisions) from Output_data")

i = 0
for row in cursor:
    print(row)
    print()
   
conn.close()

(59.0, 6.0)